@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";

@theme {
    /* Colors */
    /* ------------------------------------------------------------------------------------*/
    --color-primary: #0169CD;
    --color-primary-hover: #00468C;
    --color-secondary: #FCBC00;
    --color-secondary-hover: #DAA200;

    --color-neutral: #8D9199;
    --color-dark: #5A5F66;
    --color-white: #FFFFFF;

    --color-error: #FF4848;

    --color-neutral: #F2F4F4
}

@layer base {
    a {
        @apply text-sm font-medium text-blue-600 hover:underline;
    }
}

@layer components {
    /* Defaults Buttons
     /* ------------------------------------------------------------------------------------*/
    /* Base button */
    .btn {
        @apply inline-flex items-center justify-center gap-2 rounded font-medium transition-colors
        focus:outline-none focus:ring-2 disabled:opacity-50 disabled:pointer-events-none;
    }

    /* Sizes */
    .btn-sm {
        @apply h-9 px-3 text-sm;
    }

    .btn-md {
        @apply h-11 px-4 text-sm;
    }

    .btn-lg {
        @apply h-12 px-6 text-base;
    }

    /* Variants */
    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-hover focus:ring-primary/40;
    }

    .btn-secondary {
        @apply bg-secondary text-dark hover:bg-secondary-hover focus:ring-secondary/40;
    }

    .btn-outline {
        @apply border border-primary text-primary hover:bg-primary/10 focus:ring-primary/40;
    }

    /* Icon */
    .btn-icon {
        @apply h-4 w-4 shrink-0;
    }

    .btn-icon-sm {
        @apply h-3.5 w-3.5;
    }

    .btn-icon-lg {
        @apply h-5 w-5;
    }
}

