@import "tailwindcss";


@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";

@layer base {
    a {
        @apply text-sm font-medium text-blue-600 hover:underline;
    }
}

@layer components {
    /* Defaults Buttons
    /* ------------------------------------------------------------------------------------*/
    .btn-primary {
        @apply bg-primary text-white hover:bg-primary/80 focus:ring-2 focus:ring-primary/50;
    }
    .btn-secondary {
        @apply bg-secondary text-dark hover:bg-secondary/80 focus:ring-2 focus:ring-secondary/50;
    }
    .btn-outline {
        @apply border border-primary text-primary hover:bg-primary/10 focus:ring-2 focus:ring-primary/50;
    }
    
}

@theme {
    /* Colors */
    /* ------------------------------------------------------------------------------------*/
    --color-primary: #0169CD;
    --color-primary-hover: #00468C;
    --color-secondary: #FCBC00;
    --color-secondary-hover: #DAA200;
    --color-secondary-pastel: #FFF8DF;

    --color-neutral: #8D9199;
    --color-dark: #5A5F66;
    --color-    : #FFFFFF;

    --color-error: #FF4848;

    --color-neutral: #F2F4F4
}